

.latest-releases__container {
	list-style-type: initial !important;
	margin-left: 20px !important;
}

.latest-releases__item {
  padding-bottom: 10px;
  font-size: 12px;
  font-family: 'Roboto Slab', Georgia, Times, serif;
}

.latest-releases__item > a {
	display: block;
}