

<!-- RIGHT SIDE DISPLAY APPLICATION AND SEARCH AND SORT -->
<div class="col-xs-12">

	<h3>Research and Tools</h3>

	<!-- release schedule and other links -->
	<div class="row">
		<div class="col-lg-3" style="margin-bottom: 15px;">
			<div class="ars-categories__item">
				<a href="/index.php/open-source-release-schedule-menu"><span class="fa fa-calendar"></span> OSADP Release Schedule</a>
				<a href="/index.php/open-source-release-process-menu"><span class="fa fa-exchange"></span> OSADP Release Process</a>
				<a href="/index.php/about-osadp/usdot-abbreviation-and-acronyms"><span class="fa fa-book"></span> Acronymns &amp; Abbreviation</a>
				<a href="/index.php/faq/general-faq"><span class="fa fa-comments-o"></span> Frequently Asked Questions</a>
				<a href="/index.php/about-osadp/glossary-of-terms"><span class="fa fa-info-circle"></span> Glossary</a>

				<a href="/index.php/community/external-weblinks"><span class="fa fa-external-link-square"></span> Weblinks</a>
				<a href="/index.php/contact-us"><span class="fa fa-comment"></span> Contact Us</a>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="ars-categories__item hidden">
				<a href="/index.php/open-source-release-schedule-menu"><span class="fa fa-calendar"></span> OSADP Release Schedule</a>
			</div>
			<br class="hidden">
			<h4 class="hidden-xs" style="margin:0 0 15px 0;">Latest Released Applications</h4>
			<table class="table table-bordered table-striped hidden-xs" style="font-family: Helvetica, Arial, sans-serif;">
				<tr class="info">
					<td class="col-xs-4">Project</td>
					<td class="col-xs-6">Applications</td>
					<td class="col-xs-2">Date</td>
				</tr>
				<tr>
					<td><strong>FRATIS DFW</strong></td>
					<td><ul>
						<li>Alternate Optimization Program (AOP)</li>
					</ul></td>
					<td>July 27 2015</td>
				</tr>
				<tr>
					<td><strong>Intelligent Network Flow Optimization (INFLO) Simulation</strong></td>
					<td><ul>
						<li>Impact Assessment Simulation</li>
					</ul></td>
					<td>July 14 2015</td>
				</tr>
				<tr>
					<td><strong>FRATIS SFL Optimization (OPT)</strong></td>
					<td><ul>
						<li>Drayage optimization application</li>
					</ul></td>
					<td>May 26 2015</td>
				</tr>
				<tr>
					<td><strong>Response, Emergency Staging and Communications, Uniform Management, and Evacuation (R.E.S.C.U.M.E)</strong></td>
					<td>
						<ul>
							<li>Prototype: (INC-ZONE and RESP-STG)</li>
							<li>Impact Assessment Simulation – California</li>
							<li>Impact Assessment Simulation – Louisiana </li>
						</ul>
					</td>
					<td>
						March 12, 2015
						California Simulation: May 19 2015
						Louisiana Simulation:
						May 26 2015
					</td>
				</tr>
				<tr>
					<td><strong>Retrofit Safety Device (RSD)</strong></td>
					<td><ul>
						<li>Curve Speed Warnings (CSW)</li>
						<li>Emergency Electronic Brake Light (EEBL)</li>
						<li>Forward Collision Warning (FCW)</li>
					</ul></td>
					<td>April 03 2015</td>
				</tr>
			</table>
		</div>
		<div class="col-lg-3 hidden">
			<div class="ars-categories__item">
				<a href="#/weblinks"><span class="fa fa-external-link-square"></span> Weblinks</a>
				<a href="#/contactus"><span class="fa fa-comment"></span> Contact Us</a>
			</div>
		</div>
	</div>
	<!-- // -->

</div>