

.toolbar {
  transition: .3s;

  &__select {
    &-pagination {
      display: inline-block;
      height: 26px;
      border: 0;
      width: 57px;
      text-align-last: center;
    }
  }

  &.fixed-top {
    position: fixed;
    background: #ffffff;
    border-bottom: solid 1px #aaa;
    top: 0;
    left: 0;
    padding: 10px 40px 0 40px;
    z-index: 1;
  }
}