$mainColor: #0077bb;
$lightMainColor: lighten($mainColor, 60%);
// $darkMainColor: desaturate($mainColor, 50%);
$darkMainColor: #004a71;
$altColor: lighten($darkMainColor, 50%);
$accentColor: #1BBC9B;
$actionColor: #2ABB9B;