@import "variables";
@import "loader";
@import "toolbar";

.osadp-schedule {
  &__header {
    &-link {
      &.explore-applications {
        color: #2ABB9B;
        max-width: 145px;
        // max-height: 30px;
        margin-top: 21px;
        margin-right: 10px;
        padding: 5px 0;
        overflow: hidden;
        transition: 500ms;

        &:hover {
          padding-right: 7px;
          box-shadow: inset 200px 0 0 #2ABB9B;
          color: #FFFFFF;

          .icon-container {
            // animation: moveLeft 500ms ease-in;
            transform: rotate(360deg);
          }

          @keyframes moveLeft {
            to {
              transform: rotateX(90deg);
            }
          }
        }
      }
    }

    .icon-container {
      display: inline-block;
      padding: 5px;
      // padding-right: 2px;
      // margin-right: 5px;
      text-align: center;
      transition: 500ms;

      &.green {
        background: #2ABB9B;
        color: #FFFFFF;
      }

      &.circle {
        border-radius: 9000px;
      }

      .icon {
        margin-left: 2px;
      }
    }
  }

  &__search {
    width: 100% !important;
  }

  @import "card";

}

.badge {
  margin-bottom: 15px;

  &.warning {
    background-color: orange;
  }
  &.primary {
    background-color: #0077bb;
  }
}