<div class="ars-item__page col-xs-12" ng-cloak>
	<div class="ars-item__page__info row">

		<div class="col-xs-6 col-sm-8">
			<div class="ars-item__page__info__image hidden-xs">
				<img ng-src="{{item.icon_url}}" alt="">
			</div>
			<div class="ars-item__page__info__meta" tabindex="0">
				<h3>{{ item.title }} </h3>
				<p><em>Published: {{ item.release.created }}</em></p>
				<p>Downloads: {{ item.hits }}</p>
				<p>
					<!-- Maturity Badge -->
					<span class="ars-item__info__badge ars-item__info__badge--left badge {{ item.release.maturity }} display">{{ item.release.maturity }}</span>
					<span ng-repeat="environment in item.environments" class="fa fa-{{ environment.icon }} display" title="{{ environment.name }}"></span>
				</p>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<div class="clearfix">
				<a href="/leidos/custom/services/ars/download?itemId={{ item.id }}&amp;userId={{ userId }}" class="btn btn-success pull-right" ng-show="loggedIn">
					<span class="fa fa-download"></span>
					Download {{ item.filesize }} MB
				</a>
				<a href="#/{{ item.release.category.id }}/{{ item.id }}" class="btn btn-success osadp__close__login pull-right" ng-hide="loggedIn" ng-click="toggleLogin( $event, '.osadp__form__username' )" tabindex="0">
					<span class="fa fa-sign-in"></span>
					Login to Download
				</a>
			</div>
			<div class="pull-left">Categories: </div>
			<div ng-repeat="(key, value) in item.categories" class="pull-left" style="display: inline-block;">
				<a href="#/{{ value.id }}" class="">
					<span class="sr-only">{{ value.title }}</span> 
					{{ value.title }}
					<span class="sr-only">Applications</span>
				</a>
				<span ng-show="key + 1 != item.categories.length" style="margin-right: 5px;">,</span>
			</div>
		</div>
	</div>

	<ul class="nav nav-tabs" role="tablist">
	  <li role="tab" ng-class="{'active': activeTab == 'overview'}" aria-selected="{{ activeTab == 'overview'}}"
	  	ng-hide="item.release.description == null || item.release.description == ''">
	  	<a href="#/{{ item.release.category.id }}/{{ item.id }}" ng-click="activeTab = 'overview'">Overview</a>
	  </li>
	  <li role="tab" ng-class="{'active': activeTab == 'description'}" aria-selected="{{ activeTab == 'description'}}">
	  	<a href="#/{{ item.release.category.id }}/{{ item.id }}" ng-click="activeTab = 'description'">Description</a>
	  </li>
	  <li role="tab" ng-class="{'active': activeTab == 'release'}" aria-selected="{{ activeTab == 'release'}}">
	  	<a href="#/{{ item.release.category.id }}/{{ item.id }}" ng-click="activeTab = 'release'">Release Notes</a>
  	</li>
	  <li role="tab" ng-class="{'active': activeTab == 'documentation'}" aria-selected="{{ activeTab == 'documentation'}}">
	  	<a href="#/{{ item.release.category.id }}/{{ item.id }}" ng-click="activeTab = 'documentation'">Documentation</a>
  	</li>
	  <li role="tab" ng-class="{'active': activeTab == 'discussion'}" aria-selected="{{ activeTab == 'discussion'}}">
	  	<a href="#/{{ item.release.category.id }}/{{ item.id }}" ng-click="activeTab = 'discussion'">Discussion</a>
  	</li>
	  <li role="tab" ng-class="{'active': activeTab == 'other'}" aria-selected="{{ activeTab == 'other'}}">
	  	<a href="#/{{ item.release.category.id }}/{{ item.id }}" ng-click="activeTab = 'other'">Similar Applications</a>
  	</li>
	</ul>
	<!-- Display Item Overview when 'description' tab is active -->
	<div class="" style="padding-top: 15px;" ng-show="activeTab == 'overview'">
		<div ng-bind-html="item.release.description"></div>
	</div>
	<!-- Display Item Description when 'description' tab is active -->
	<div class="ars-app__description" style="padding-top: 15px;" ng-show="activeTab == 'description'">
		<p ng-show="item.description == '' || item.description.length == 0">No current description available for this application.</p>
		<div ng-bind-html="item.description"></div>
	</div>
	<!-- Displays Item Release Notes when 'release notes' tab is active -->
	<div class="ars-app__release-notes" style="padding-top: 15px;" ng-show="activeTab == 'release'">
		<p ng-show="item.release.notes == ''">No current release notes available for this application.</p>
		<div ng-bind-html="item.release.notes"></div>
	</div>
	<!-- Displays Item Release Notes when 'release notes' tab is active -->
	<div class="" style="padding-top: 15px;" ng-show="activeTab == 'documentation'">
		<p ng-show="item.documentation.length == 0">No current documentation available for this application.</p>
		<ul>
			<li ng-repeat="document in item.documentation"><a href="{{ document.documentation_link }}">{{ document.documentation_text }}</a></li>
		</ul>
	</div>

	<div class="" style="padding-top: 15px;" ng-show="activeTab == 'discussion'">
		<p ng-show="(item.discussion_url == null || item.discussion_url == '') &amp;&amp; (item.issues_url == null || item.issues_url == '')">
			No current discussion available for this application.
		</p>
		<ul ng-show="item.discussion_url != null || item.issues_url != null">
			<li ng-show="item.discussion_url != null &amp;&amp; item.discussion_url != '' ">
				<a href="{{ item.discussion_url }}">
					Main Discussion
				</a>
			</li>
			<li ng-show="item.issues_url != null &amp;&amp; item.issues_url != ''">
				<a href="{{ item.issues_url }}">
					Issues Discussion
				</a>
			</li>
		</ul>
	</div>

	<!-- Displays other applications under the same category when 'other' tab is active -->
	<div class="col-xs-12 col-md-8" style="padding-top: 15px;" ng-show="activeTab == 'other'">
		<p ng-show="otherItems.length == 0">No similar application available for this application.</p>
		<div class="ars-item"
			akeebaitem
			ng-repeat="item in otherItems track by $index | orderBy: ordering"
			ng-hide="showLoader"
			item="item"
			showkeywordtags="false"></div>
	</div>


	<div class="osadp__login" ng-if="login == true" style="width: 100%; height"
		ng-click="toggleLogin( $event, '.osadp__close__login' )">
		<form action="/login?task=user.login" method="post" name="login" class="osadp__login__form" ng-click="$event.stopPropagation()">
			<button type="button" class="osadp__login__form-close pull-right" title="Close"
				ng-click="toggleLogin( $event, '.osadp__close__login' )">
				<span class="fa fa-remove"></span>
			</button>
			<br>
			<input type="hidden" name="{{ token }}" value="1">
			<input type="hidden" name="return" value="{{ redirect }}">
			<div class="input">
				<span>
					Username:
					<input type="text" name="username" class="inputbox ks osadp__form__username" alt="username" size="18">
				</span>
				<span>
					Password:
					<input type="password" name="password" class="inputbox ks" size="18" alt="password">
				</span>
				<p>Remember me <input type="checkbox" name="remember" alt="" value="1"></p>
				<button type="submit" class="btn btn-info" name="submit" class="kbutton">
					Login
				</button>
				<a href="/login?view=registration" class="btn btn-primary">
					Register
				</a>
			</div>
			<p aria-hidden="true"></p>
			<div>
				<p>
					<a href="/login?view=reset" rel="nofollow">Forgot your password?</a>
				</p>
				<p>
					<a href="/login?view=remind" rel="nofollow">Forgot your username?</a>
				</p>
			</div>
		</form>
	</div>

</div>