

<div class="ars-item__page col-xs-12" ng-cloak>

	<div class="ars-item__page__info row">

		<div class="col-xs-6 col-sm-8">
			<div class="ars-item__page__info__image hidden-xs"></div>
			<div class="ars-item__page__info__meta">
				<h3>{{ item.title }} </h3>
				<p><em>Published: {{ item.release.created }}</em></p>
				<p>Downloads: {{ item.hits }}</p>
				<p>
					<!-- Maturity Badge -->
					<span class="ars-item__info__badge ars-item__info__badge--left badge {{ item.release.maturity }} display">{{ item.release.maturity }}</span>
					<span ng-repeat="environment in item.environments" class="fa fa-{{ environment }} display" title="{{ environment }}"></span>
				</p>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4">
			<p style="text-align: right;">
				Category: 
				<a href="#/{{ item.release.category.id }}" class="">
					{{ item.release.category.title }}
				</a>
			</p>
			<a href="/osadp/{{ item.release.category.directory }}/{{ item.filename }}" class="btn btn-success pull-right" ng-if="! loggedIn">
				<span class="fa fa-download"></span>
				Download {{ (item.filesize / 1000).toFixed(2) }} KB 
			</a>
			<a href="/osadp/login" class="btn btn-success pull-right" ng-if="loggedIn">
				<span class="fa fa-sign-in"></span>
				Login to Download 
			</a>
		</div>
	</div>

	<ul class="nav nav-tabs">
	  <li role="presentation" ng-class="{'active': activeTab == 'description'}"><a href="#/{{ item.release.category.id }}/{{ item.id }}" ng-click="activeTab = 'description'">Discription</a></li>
	  <li role="presentation" ng-class="{'active': activeTab == 'release'}"><a href="#/{{ item.release.category.id }}/{{ item.id }}" ng-click="activeTab = 'release'">Release Notes</a></li>
	  <li role="presentation" ng-class="{'active': activeTab == 'other'}"><a href="#/{{ item.release.category.id }}/{{ item.id }}" ng-click="activeTab = 'other'">Similar Applications</a></li>
	</ul>
	<!-- Display Item Description when 'description' tab is active -->
	<div class="" ng-bind-html="item.description" style="padding-top: 15px;" ng-show="activeTab == 'description'"></div>
	<!-- Displays Item Release Notes when 'release notes' tab is active -->
	<div class="" ng-bind-html="item.release.notes" style="padding-top: 15px;" ng-show="activeTab == 'release'"></div>
	<!-- Displays other applications under the same category when 'other' tab is active -->
	<div class="" style="padding-top: 15px;" ng-show="activeTab == 'other'">
		<div akeebaitem ng-repeat="item in otherItems | orderBy: ordering" class="ars-item" ng-hide="showLoader" tabindex="0" item="item"></div>
	</div>
	<!-- Notifies user when no release note was found -->
	<p ng-show="activeTab == 'description' && item.description == ''">No descriptions found..</p>
	<p ng-show="activeTab == 'release' && item.release.notes == ''">No release notes found..</p>
	<p ng-show="activeTab == 'other' && otherItems.length == 0">No similar application found..</p>


</div>