

<a href="#/{{ item.release.category.id }}/{{ item.id }}" class="ars-item__link">
	<div class="ars-item__image-container hidden-xs">
		<div class="ars-item__image-container__image">
			<img ng-src="{{ item.icon_url }}" alt="">
		</div>
	</div>
	<div class="ars-item__info">
		<!-- Maturity Badge -->
		<span class="ars-item__info__badge badge pull-right {{ item.release.maturity }}">{{ item.release.maturity }}</span>
		<!-- Release Name -->
		<p class="ars-item__info-title">
			{{ item.title }}
			<p><em>{{ item.short_description }}</em></p>
<!-- 						<a href="" class="btn btn-small btn-success" title="Download">
				<span class="fa fa-download"></span> DOWNLOAD
			</a> -->
		</p>
		<!-- Release Version -->
		<span>Version: <strong>{{ item.release.version }}</strong><br></span>
		<!-- Date Created -->
		<span>Modified: <strong>{{ item.release.modified }}</strong><br></span>
		<!-- Environment | float right -->
		<span class="pull-right">
			<span ng-repeat="environment in item.environments" class="fa fa-{{ environment }} display" title="{{ environment }}"></span>
		</span>
		<!-- Number of Hits -->
		Downloads: <strong>{{ item.hits }}</strong>
	</div>
</a>