
<div class="ars-item__link">
	<a href="#/{{ item.release.category.id }}/{{ item.id }}" class="ars-item__link-link"
		ng-click="toggleKeywords($event, false, keyword)">
		<div class="ars-item__image-container hidden-xs hidden-sm col-md-4 col-lg-3">
			<div class="ars-item__image-container__image">
				<div class="ars-item__image-container__mask">
					<span class="fa fa-eye"></span>
					<p>Click to view</p>
				</div>
				<img ng-src="{{ item.icon_url }}" alt="">
			</div>
		</div>
		<div class="ars-item__info col-xs-12 col-md-8 col-lg-9">
			<!-- Environment | float right -->
			<div class="pull-right">
				<!-- Maturity Badge -->
				<span class="ars-item__info__badge badge pull-right {{ item.release.maturity }}">{{ item.release.maturity }}</span>
				<p class="ars-item__environments">
					<span ng-repeat="environment in item.environments" class="fa fa-{{ environment.icon }} display pull-right" title="{{ environment.name }}"></span>
				</p>
			</div>
			<!-- Release Name -->
			<p class="ars-item__info-title">{{ item.title }}</p>
			<p class="ars-item__info-title-description"><em>{{ item.short_description }}</em></p>
			<!-- Release Version -->
			<p style="margin: 0;"><span>Version: <strong>{{ item.release.version }}</strong></span></p>
			<!-- Date Created -->
			<p style="margin: 0;"><span>Modified: <strong>{{ item.release.modified }}</strong></span></p>
			<!-- Number of Hits -->
			<p style="margin: 0;">Downloads: <strong>{{ item.hits }}</strong></p>
		</div>
	</a>
		<div class="ars-item__info-keywords" ng-show="showKeywordTags &amp;&amp; item.keywords.length > 0">
			<span class="ars-item__info-keywords-label">Keywords:</span>
			<span class="ars-item__info-keywords-warning" ng-show="item.keywords.length === 0"><em>No keywords available for this application</em></span>
			<a href="#" class="ars-item__info-keyword" ng-repeat="keyword in item.keywords" ng-click="toggleKeywords($event, true, keyword)">
				<span class="keyword" style="pointer-events: none;" ng-class="{'active-keyword': keyword == activeKeyword}">
					{{ keyword }}
				</span>
			</a>
		</div>
</div>