<div class="keywords-mask"
  ng-class="{ 'keywords-mask-show': show == true }">
  <div class="keywords-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h3>
          Keyword: <span class="keyword-active">{{ keyword }}</span>
          <button type="button" class="btn btn-sm btn-danger" style="
            float: right;
          "
          ng-click="toggle( $event, false )">
            <span class="fa fa-close"></span> close
          </button>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 ars-applications__tools">
        <div class="ars-applications__tools__sort input-group col-xs-12 col-md-6 pull-left">
          <select class="col-xs-10 col-md-8 col-lg-6" name="ordering" id="ordering" ng-model="ordering" ng-init="ordering = 'title'">
            <option value="title">Sort by Name</option>
            <option value="-hits">Sort by Most Downloads</option>
            <option value="-release.modified">Sort by Last Modified</option>
            <!-- <option value="-version">Sort by Newest Version</option> -->
          </select>
          <button class="col-xs-2 btn btn-default" ng-click="reverse = ! reverse" ng-show="reverse" title="Descending">
            <span class="fa fa-sort-amount-desc"></span>
          </button>
          <button class="col-xs-2 btn btn-default" ng-click="reverse = ! reverse" ng-hide="reverse" title="Ascending">
            <span class="fa fa-sort-amount-asc"></span>
          </button>
        </div>
        <div class="ars-applications__tools__search input-group col-xs-12 col-md-6 pull-right">
          <span class="input-group-addon">
            <span class="fa fa-list"></span>
          </span>
          <input type="text" class="form-control" placeholder="Search Current Category" ng-model="searchFilter" style="z-index: 0;">
        </div>
      </div>
    </div>
    <!-- pagination -->
    <div class="row" style="display: none;">
      <div class="col-xs-12">
        <select class="col-xs-4 col-sm-4" ng-options="option.value as option.name for option in limitOptions" ng-model="limit"></select>
        <button class="col-xs-2 col-sm-2 btn btn-default" ng-click="adjustCurrentItems('first')" title="First" ng-class="{'disabled': currentItems == 0 || items.length == 0 }">
          &lt;&lt; <span style="text-transform: none;" class="hidden-xs hidden-sm">First</span>
        </button>
        <button class="col-xs-2 col-sm-2 btn btn-default" ng-click="adjustCurrentItems(-1)" title="Previous" ng-class="{'disabled': currentItems == 0 || items.length == 0 }">
          &lt; <span style="text-transform: none;" class="hidden-xs hidden-sm">Previous</span>
        </button>
        <button class="col-xs-2 col-sm-2 btn btn-default" ng-click="adjustCurrentItems(1)" title="Next" ng-class="{'disabled': currentItems == items.length - 1 || items.length == 0 }">
          <span style="text-transform: none;" class="hidden-xs hidden-sm">Next</span> &gt;
        </button>
        <button class="col-xs-2 col-sm-2 btn btn-default" ng-click="adjustCurrentItems('last')" title="Last" ng-class="{'disabled': currentItems == items.length -1 || items.length == 0 }">
          <span style="text-transform: none;" class="hidden-xs hidden-sm">Last</span> &gt;&gt;
        </button>
      </div>
    </div>
    <!-- This section displays applications based on the controls given -->
    <div class="row ars-applications" onload="scrollGuard(e)">
      <div class="col-xs-12 col-md-9 col-md-offset-1 col-lg-10">
        <div class="loader" ng-show="showLoader">Loading...</div>
        <!-- Populate items by selected category -->
        <div>
          <div class="ars-item"
            akeebaitem
            item="item"
            displaykeywords="toggle"
            showkeywordtags="true"
            activekeyword="keyword"
            ng-repeat="item in items | filter: {'keywords': keyword}:true | filter: searchFilter | orderBy: ordering : reverse"
            ng-hide="showLoader">    
          </div>
        </div>
        <!-- // -->
        <!-- Show this when there are no applications -->
        <div ng-if="items.length == 0 &amp;&amp; !showLoader" style="text-align: center;">
          <div ng-if="searchFilter == '' || searchFilter == null">
            <h3>There are currently no <span class="text-primary">Applications</span> under this category</h3>
            <p><em>You can submit your application for this category by clicking this button</em></p>
            <a href="/index.php/open-source-release-process-menu" class="btn btn-lg btn-success">
              <span class="fa fa-cloud-upload"></span>
              Upload Request
            </a>
          </div>
          <div ng-if="searchFilter != null &amp;&amp; searchFilter != ''">
            <h3>No <span class="text-primary">Applications</span> match your search query</h3>
          </div>
        </div>
      </div>
      <!-- // -->
    </div>
  <!-- container -->
  </div>
  <div class="keywords-mask-close-trigger" 
    ng-click="toggle( $event, false )"></div>
<!-- mask -->
</div>