

<div class="row">
	<!-- LEFT SIDE DISPLAY A LIST OF CATEGORIES -->
	<div class="col-xs-12 col-sm-4 col-lg-4" class="ars__categories">
		<h4 class="ars__categories--heading">Categories</h4>
		<!-- LIST ALL OUR CATEGORIES -->
		<div class="ars__categories--item" ng-class="{ 'ars_categories--item-active': category.active }" ng-repeat="category in categories">
			<a href="#/{{ category.id }}">{{ category.title }} <span class="badge pull-right">{{ category.items.length }}</span></a>
		</div>
	</div>
	<!-- // -->
	<!-- RIGHT SIDE DISPLAY APPLICATION AND SEARCH AND SORT -->
	<div class="col-xs-12 col-sm-8">
		<!-- This is for searching current applications -->

		<div class="row ars__applications--search">
			<div class="input-group col-xs-12 col-md-6 pull-right">
				<span class="input-group-addon">
					<span class="fa fa-search"></span>
				</span>
				<input type="text" class="form-control" placeholder="Search {{ currentCategory.title }}" ng-model="searchFilter">
			</div>
		</div>
		<!-- This section displays applications based on the controls given -->
		<div class="row ars__applications">
			<div class="loader" ng-show="showLoader">Loading...</div>
			<!-- Populate items by selected category -->
			<div ng-repeat="item in currentCategory.items | filter:searchFilter" class="ars__item" ng-hide="showLoader">
				<div class="col-xs-4 ars__item--image-container">
					<div class="ars__item--image"></div>
				</div>
				<div class="col-xs-8 ars__item--info">
					<span class="ars__item--info-badge badge {{ item.maturity }} pull-right">{{ item.maturity }}</span>
					<p class="ars__item--info-title">{{ item.title }}</p>
					Version: <strong>{{ item.version }}</strong><br>
					Date: <strong>{{ item.created }}</strong><br>
					<span class="pull-right">
						<span class="fa fa-{{ item.environment }}" title="{{ item.environment }}"></span>
					</span>
					Downloads: <strong>{{ item.hits }}</strong><br>
				</div>
			</div>
			<!-- // -->
			<!-- Show this when there are no applications -->
			<div ng-show="currentCategory.items.length == 0 && !showLoader" style="text-align: center;">
				<h3>There are currently no <span class="text-primary">Applications</span> under <span class="text-primary">{{ currentCategory.title }}</span></h3>
				<p><em>You can submit your application for this category by clicking this button</em></p>
				<a href="#" class="btn btn-lg btn-success">
					<span class="fa fa-cloud-upload"></span>
					Upload Request
				</a>
			</div>
			<!-- // -->
		</div>

	</div>
</div>